body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #617E06;
}

.refresh-button{
    top: 300px;
    right: 370px;
    width: 100px;
    height: 70px;
}
.titulo{
    padding-right: 5cm;
}